.page {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    font-family: fantasy;
    
}

.radio {
    text-align: center;
}

.form_to_sub {
    align-content: center;
}

.error {
    color: red;
}